
section.players{
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
    display:flex;
    justify-content: center;
}

.player{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.player > img {
    height:12vh;
    flex-wrap: wrap;
    display: flex;

}
.player-gallery{
    display:flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: center
}


.upper-screen{
    display: flex;
    width:100vw;
    height: 50vh;
    
}
.right{
    margin:0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
    
.left,
.right {
  width: 50%;
    
}

.left{
    padding-top: 0;
    width: 50%;
    border: 1px;
    margin:0.4rem solid var(--secondary);
background-position: center center;
background-size: cover;
background-image:url("https://i.pinimg.com/originals/92/11/c0/9211c00b18ccb1393a307453c0415e82.gif") ;
border: 0.3rem solid var(--navbar);
}
.center{
    width: 100%;
    height: 100%;
    background-image:url("https://www.transparenttextures.com/patterns/basketball.png");
    background-color: #eb6600;
    border: 0.3rem solid var(--navbar);
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.lower-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.3rem solid var(--navbar);
    font-family: sans-serif;
    width:90vw;
    height:10vh;
    color:var(--primary);
    background-image:url("https://www.transparenttextures.com/patterns/basketball.png");
    background-color: #eb6600;
}
.center > input{
 all: unset;
  width: 80%;
  padding: 0.3rem;
  border: .2rem solid var(--navbar);
  text-align: center;
  color: var(--primary);
  font-size: 1.5rem;
  font-family: sans-serif;
}
input:focus{
    background-color: var(--transparent);
}

/* .input{
    background-color:#dbffed94;
    border:0;
    font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.btn {
    background-color: #dbffed;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 20;
    left: 0;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
  }

  .btn:focus,
  .input:focus{
    outline: none;
  }

  .center.active.input{
    width: 200px;
}
.center.active.btn{
    transform: translateX(198px);
}  */