
section.players{
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
}

.player{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}
.player > img {
    height:12vh;
    flex-wrap: wrap;
    display: flex;

}
.player-gallery{
    display:flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: center
}

.upper-screen{
    display: flex;
    width:90vh;
    height: 50vh;
    border: 1px;
    padding-left: 0%;
    
}
.left{
    width: 50%;
    border: 1px;
    margin:0.4rem solid var(--secondary);
background-position: center center;
background-size: cover;
background-image:url("https://i.pinimg.com/originals/92/11/c0/9211c00b18ccb1393a307453c0415e82.gif") ;
border: 0.3rem solid var(--navbar);
}
.center{
    width: 100%;
    height: 100%;
    background-image:url("https://www.transparenttextures.com/patterns/basketball.png");
    background-color: #eb6600;
    border: 0.3rem solid var(--navbar);
    

}
.lower-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.3rem solid var(--navbar);
    font-family: sans-serif;
    width:90vw;
    height:10vh;
    color:var(--primary);
    background-image:url("https://www.transparenttextures.com/patterns/basketball.png");
    background-color: #eb6600;
}

