section{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center; 
    

}
.teamsSection{
    background-color: white
}

.card{
   height: 30vh;
    transition: padding 1s ease-in-out;
    font-family: sans-serif;
    font-size:1rem;
    align-content: center;
    border-radius: 10%;
    width: 30vw;
    display: flex;
       
}
.card:hover{
    padding:1.5rem;    
}

.card >.description{
    background-color:var(--transparent);
    padding:1rem;
    border-radius: 10%;
    align-content: center;
    width: 100%;
    color:#dbffede3;
    
}
.card >.description:hover{
display:block
}
