.home{
    background-image: url("https://res.cloudinary.com/ddtufnl04/image/upload/v1665608237/edgar-chaparro-_T-D4Bb-H88-unsplash_de1hsm.jpg");
    height: 33.5rem;
    background-size:60rem;
    background-position-x: center;
    background-position-y: center;
    
}